* {margin: 0; padding: 0}

html {
  height: 93%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: Arial;
}

/* header*/

header{
    color: #FFFFFF;
}

header #user-info{
    margin-top: 25px;
}

header .row{
    background: #333;
}

header #domains-list{
    margin-bottom: 0px;
}

nav.navbar li a{
    color: #FFFFFF;
}

nav.navbar li a:hover{
    background: none;
    color: #FFFFFF;
}

nav.navbar{
    top: 8px;
}

#item-domains:hover{
    cursor: pointer;
}

/* main */
.menu-below{
    background-color: #2790B1;
    padding-top: 1px;
    padding-bottom: 150px;
}

.menu-below header h3{
    color: #FFFFFF;
    text-align: center;
}

.menu-below .thumbnail{
    height: 250px;
    border: none;
    width: 320px;
}

.menu-below .thumbnail .th-content{
   height: 130px;
}

#th-infos-panel{
    width: 1100px;
    margin: auto;
    margin-top: 50px;
}

/* content */

#loader-section{
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 850px;
    z-index: 200;
}

.message-info p{
    position: absolute;
    margin-left: 47%;
    margin-right: 50%;
    background: #faebcc;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin-top: -10px;
    border: solid 1px #DBBE4A;
    font-weight: bold;
}

#th-infos-panel{
    width: 1100px;
    margin: auto;
    margin-top: 50px;
}

a.list-group-item:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #2790B1;
    border-color: #428BCA;
}

#block-contacts-render .label-default{
    background-color: #333;
}

#contacts-table-wrapper{
    margin-top: 5px;
    max-height: 650px;
    overflow-y: scroll;
    width: 100%;
}

#search-table-wrapper{
    margin-top: 5px;
    max-height: 650px;
    overflow-y: scroll;
    width: 100%;
}

.contact-item:hover, .contact-unique:hover{
    cursor: pointer;
}

.input-group .glyphicon-search{
    float: right;
    top: -0.5px;
    background: #333;
    height: 34px;
    padding: 10px 10px 10px 10px;
    color: #FFF;
    border-radius: 0 5px 5px 0;
}

.input-group-addon{
    padding: 0px;
    border: none;
}

.input-group .glyphicon-search:hover{
    cursor: pointer;
}

#contact-search{
}

#search-bar{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#back-to-list:hover{
    cursor: pointer;
    text-decoration: none;
}

#btn-delete-contacts .btn{
    margin-bottom: 5px;
}

#contact-form label{
    text-align: left;
}

#contact-form{
    margin-top: 40px;
}

#manage-contact h4{
    margin-top: 20px;
    border-bottom: solid 1px #CECECE;
    padding-bottom: 15px;
}

#section-add-user{
    background: #428bca;
    color: #FFFFFF;
}

.users-tab a:hover{
    text-decoration: none;
}

/* footer */
footer{
    position:absolute;
    bottom:0;
    width: 95%;
}
footer p{
    text-align: center;
}
