
#upload-wrapper{
    padding: 25px;
}

#upload-wrapper .row{
    margin-bottom: 10px;
}

#upload-wrapper h3.underline{
    border-bottom: solid 1px #E4E4E4;
}

#upload-wrapper .row h5{
    font-style: italic;
}
