            <div id="content" data-spy="scroll" data-target=".data-scroll">
                    <div class="row">
                        <div ng-if="message" class="message-info">
                            <p>{[{message}]}</p>
                        </div>
                        <section id="myContacts" class="col-md-12">
                            <div class="row">
                                {% if user.super_admin %}
                                <p ng-if="current_domain" style="color: #428bca; margin-left: 15px; margin-top: 10px;">
                                    Super admin - <strong>{[{current_domain}]}</strong>
                                </p>
                                <p ng-if="!current_domain" style="color: #428bca; margin-left: 15px; margin-top: 10px;">
                                    Super admin - <strong>...</strong>
                                </p>
                                {% else %}
                                <p id="user-domain" data-value="{{user.domain}}" style="color: #428bca; margin-left: 15px; margin-top: 10px;">
                                    {{user.domain}}
                                </p>
                                {% endif %}
                                <div id="search-bar" class="input-group">
                                    <input type="text" id="contact-search" class="form-control" placeholder="Search">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search" ng-click="search_contacts()"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="page-content">
                                <div class="row">
                                    <!--<h3>My contacts</h3>-->
                                    <div class="col-md-2">
                                        <aside id="menu-aside">
                                            {% if user.super_admin %}
                                            <div ng-if="domain" class="list-group">
                                                <a href="/upload" class="list-group-item">
                                                    <span class="glyphicon glyphicon-upload pull-right"></span> Upload plateform
                                                </a>
                                                <a href="/export?action=export_csv&domain={[{domain}]}" id="export-contacts" class="list-group-item" data-toggle="tooltip" data-placement="top" title="Create a CSV file on your Drive">
                                                    <span class="glyphicon glyphicon-download pull-right"></span> Export contacts
                                                </a>
                                                <a href="#" class="list-group-item" ng-click="load_form(null, null)">
                                                    <span class="glyphicon glyphicon-plus pull-right"></span> Add a contact
                                                </a>
                                            </div>
                                            {% else %}
                                            <div class="list-group">
                                                <a href="/upload" class="list-group-item">
                                                    <span class="glyphicon glyphicon-upload pull-right"></span> Upload plateform
                                                </a>
                                                <a href="/export?action=export_csv&domain={[{domain}]}" id="export-contacts" class="list-group-item" data-toggle="tooltip" data-placement="top" title="Create a CSV file on your Drive">
                                                    <span class="glyphicon glyphicon-download pull-right"></span> Export contacts
                                                </a>
                                                <a href="#" class="list-group-item" ng-click="load_form(null, null)">
                                                    <span class="glyphicon glyphicon-plus pull-right"></span> Add a contact
                                                </a>
                                            </div>
                                            {% endif %}
                                        </aside>
                                    </div>
                                    <div class="col-md-10">
                                        <a id="back-to-list" ng-click="back_to_list()">
                                            <span class="glyphicon glyphicon-backward" style="margin-bottom: 15px;"></span>
                                        </a>
                                        <section id="block-contacts-render">
                                            <span ng-if="contacts_total <= 1" class="label label-default pull-right" style="margin-bottom: 10px;">{[{ contacts_total }]} contact</span>
                                            <span ng-if="contacts_total > 1" class="label label-default pull-right" style="margin-bottom: 10px;">{[{ contacts_total }]} contacts</span>
                                            <span id="on-load">
                                                Loading...
                                            </span>
                                            <span id="btn-delete-contacts">
                                                <button ng-if="to_delete.length > 1" class="btn btn-default" ng-click="delete_contacts()">Delete these contacts</button>
                                                <button ng-if="to_delete.length == 1" class="btn btn-default" ng-click="delete_contacts()">Delete this contact</button>
                                                <button ng-if="to_delete.length == 0" class="btn btn-default" disabled="disabled" ng-click="delete_contacts()">Delete this contact</button>
                                            </span>
                                            <div ng-include src="contact_form.url"></div>
                                            <div id="contacts-table-wrapper" infinite-scroll="paginate()" is-body="false">
                                                <table id="tab-contacts-render" class="table">
                                                    <thead>
                                                        <th></th>
                                                        <th>Mail</th>
                                                        <th>Firstname</th>
                                                        <th>Name</th>
                                                        <th>Tel.</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="contact-item" data-action="view_all" ng-repeat="contact in contacts">
                                                            <td style="width: 3%;"><input type="checkbox" checklist-model="to_delete" checklist-value="contact.contactId" class="cb-selected-contact" value="{[{ contact.contactId }]}"></td>
                                                            <td ng-if="contact.info">{[{ contact.info }]}</td>
                                                            <td style="width: 20%;" ng-click="load_form(contact, $event)"><strong>{[{ contact.mail }]}</strong></td>
                                                            <td ng-if="contact.lastName" ng-click="load_form(contact, $event)" class="col-md-2">{[{ contact.lastName }]}</td>
                                                            <td ng-if="!contact.lastName" ng-click="load_form(contact, $event)" class="col-md-2">N/A</td>
                                                            <td ng-if="contact.firstName" ng-click="load_form(contact, $event)" class="col-md-2">{[{ contact.firstName }]}</td>
                                                            <td ng-if="!contact.firstName" ng-click="load_form(contact, $event)" >N/A</td>
                                                            <td ng-if="contact.phoneNumber" ng-click="load_form(contact, $event)">{[{ contact.phoneNumber }]}</td>
                                                            <td ng-if="!contact.phoneNumber" ng-click="load_form(contact, $event)">N/A</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="search-table-wrapper" infinite-scroll="paginate_search()" is-body="false">
                                                <table id="tab-search-render" class="table">
                                                     <thead>
                                                        <th ng-if="!info"></th>
                                                        <th>Mail</th>
                                                        <th>Firstname</th>
                                                        <th>Name</th>
                                                        <th>Tel.</th>
                                                    </thead>
                                                    <tbody>
                                                         <tr ng-if="info" >
                                                             <td style="margin-top:10px; margin-left:10px;">{[{ info }]}</td>
                                                         </tr>
                                                         <tr class="contact-item" data-action="view_search" ng-repeat="contact in searched_contacts">
                                                            <td style="width: 3%;"><input type="checkbox" checklist-model="to_delete" checklist-value="contact.contactId" class="cb-selected-contact" value="{[{ contact.contactId }]}"></td>
                                                            <td ng-if="!info" style="width: 20%;" ng-click="load_form(contact, $event)"><strong>{[{ contact.mail }]}</strong></td>
                                                            <td ng-if="contact.lastName" ng-click="load_form(contact, $event)" class="col-md-1">{[{ contact.lastName }]}</td>
                                                            <td ng-if="!contact.lastName" ng-click="load_form(contact, $event)" class="col-md-1">N/A</td>
                                                            <td ng-if="contact.firstName" ng-click="load_form(contact, $event)" class="col-md-2">{[{ contact.firstName }]}</td>
                                                            <td ng-if="!contact.firstName" ng-click="load_form(contact, $event)" >N/A</td>
                                                            <td ng-if="contact.phoneNumber" ng-click="load_form(contact, $event)">{[{ contact.phoneNumber }]}</td>
                                                            <td ng-if="!contact.phoneNumber" ng-click="load_form(contact, $event)">N/A</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
