               <!--<footer>-->
                    <!--<p>-->
                        <!--Powered by <a href="http://www.gpartner.eu" target="_blank">gPartner</a>-->
                    <!--</p>-->
               <!--</footer>-->
        </div>
        <script type="text/javascript" charset="UTF-8" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/scrollspy.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/angular.min.js"></script>
        <script src="/js/angular-resource.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/app.js"></script>
        <script type='text/javascript' src='/js/ng-infinite-scroll.js'></script>
        <script type='text/javascript' src='/js/checklist-model.js'></script>
        <script type="text/javascript" charset="UTF-8" src="/js/services/sharedContacts.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/services/export.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/tools.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/request.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/controller/SharedContactsCtrl.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/js/script.js"></script>
    </body>
</html>