<!DOCTYPE html>
<html ng-app="sharedContactsApp">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
        <link rel="stylesheet" type="text/css" href="/css/upload.css">
        <link rel="import" href="/templates/contact_form.html">
    </head>
    <body ng-controller="SharedContactsCtrl as controller">
        <div class="container-fluid" style="height: 100%">
            <header>
                <div class="row" style="" style="height: 100%">
                    <div class="col-md-3">
                        <ul class="nav navbar-nav" style="margin-top: 25px;">
                            <li>
                                <span class="glyphicon glyphicon-user"><span style="font-family: Arial"> {{user.mail}}</span></span>
                            </li>
                            {% if user.super_admin %}
                            <li id="item-domains" style="margin-left: 15px;">
                                <div class="dropdown">
                                    <span id="domains-chooser" class="glyphicon glyphicon-globe dropdown-toggle " data-toggle="dropdown"><span style="font-family: Arial"> Domains</span></span>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="color:#000000;" >
                                        {% for domain in user.domains %}
                                        <li><a role="menuitem" tabindex="-1" href="" id="{{domain.value}}" ng-click="select_domain($event)">{{ domain.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                     <div class="col-md-9">
                         <nav class="navbar" role="navigation">
                            <ul class="nav navbar-nav pull-right">
                                {% if user.super_admin%}
                                <li ng-if="current_domain">
                                    <a href="/users">Users Panel</a>
                                </li>
                                {% endif %}
                                {% if user.admin %}
                                <li>
                                    <a href="/users">Users Panel</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="{{user.logout}}">Sign out</a>
                                </li>
                            </ul>
                         </nav>
                    </div>
                </div>
            </header>
            <main style="height: 99%">
