<!DOCTYPE html>
<html>
    <head>
        <title>Add a service account</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body>
        <div style="padding: 50px; background: rgb(97, 97, 97); color: #FFF;">
            {% if message %}
            <div class="message-info" style="color: #000000;">
                <p>{{message}}</p>
            </div>
            {% endif %}
            <h3>Add a service account</h3>
            <form action="/service-account" id="service-form" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="service-domain" class="col-sm-1 control-label">Domain</label>
                    <div class="col-sm-3">
                        <input type="input" class="form-control input-disabled" name="service-domain" id="service-domain" placeholder="Domain" required="required">
                    </div>
              </div>
              <div class="form-group">
                    <label for="service-address" class="col-sm-1 control-label">Account email address</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control input-disabled" name="service-address" id="service-address" placeholder="Account email address" required="required">
                    </div>
              </div>
              <div class="form-group">
                    <label for="admin-address" class="col-sm-1 control-label">Admin email address</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control input-disabled" name="admin-address" id="admin-address" placeholder="Admin email address" required="required">
                    </div>
              </div>
              <div class="form-group">
                  <label for="pem-key" class="col-sm-1 control-label">PEM Key</label>
                  <div class="col-sm-3">
                    <textarea class="form-control input-disabled" name="pem-key" id="pem-key" placeholder="PEM Key" required="required"></textarea>
                  </div>
              </div>
              <input type="hidden" name="action" value="a">
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </body>
    <script type="text/javascript" charset="UTF-8" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $('.message-info').fadeOut();
            }, 4000);
        });
    </script>
</html>