<div id="upload-wrapper" class="page-content">
    <div class="row">
         {% if message %}
            <div class="message-info" style="color: #000000;">
                <p>{{message}}</p>
            </div>
         {% endif %}
        <p ng-if="current_domain" style="color: #428bca; margin-top: 10px;">
            Super admin - <strong>{[{current_domain}]}</strong>
        </p>
        <h3>Upload plateform</h3>
        <div>
            This plateform allows you to import, update, or delete a bunch of shared contacts using the CSV format.
            The task will be performed in the background. You will receive an email at the end of the process.
        </div>
    </div>
    <div class="row">
        <h3 class="underline">Add / Update / Delete contacts</h3>
        <h5>CSV Example</h5>
        <section>
            <code type="csv" class="thumbnail col-sm-6" style="background: #2F3129">
                <span style="color: #FFFFFF">1</span>
                &nbsp;
                <span style="color: #ffffff">action,id,mail,lastName,firstName,organization,label,phoneNumber,street,city,postcode,region,country</span><br />
                <span style="color: #FFFFFF">2</span>
                &nbsp;
                <span style="color: #ffffff">add,4563f4cd46be8,someone@test.com,someone,someone,someone,test,test,+33600000000,test,test,test,test</span><br />
                <span style="color: #FFFFFF">3</span>
                &nbsp;
                <span style="color: #ffffff">update,4563f4cd46be8,someone@test.com,someone,someone,someone,test,test,+33600000000,test,test,test,test</span><br />
                <span style="color: #FFFFFF">4</span>
                &nbsp;
                <span style="color: #ffffff">delete,4563f4cd46be8,someone@test.com,someone,someone,someone,test,test,+33600000000,test,test,test,test</span>
            </code>
        </section>
    </div>
    <div class="row">
        <section>
            <form action="{{ upload_url }} " method="post" enctype="multipart/form-data">
                <input type="file" accept=".csv" name="file">
                <button style="margin-top: 10px;" class="btn" type="submit"><span class="glyphicon glyphicon-upload"></span> Submit</button>
                <input type="hidden" name="action" value="update">
                <input type="hidden" name="domain" value="{[{domain}]}">
            </form>
        </section>
    </div>
</div>