            <div class="container-fluid" ng-init="get_app_users();" style="height: 100%">
                <div class="row" style="margin-left: -30px; height: 100%">
                    <section class="col-md-2" id="section-add-user" style="height: 100%">
                        <h3><span class="glyphicon glyphicon-plus"></span> Add a new user</h3>
                        <form role="form" action="/users/add" method="get">
                            <div class="form-group">
                                <label for="user-email" class="control-label">Email</label>
                                <input type="email" class="form-control" id="user-email" name="user-email" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <label for="role" class="control-label">Role</label>
                                <select class="form-control" id="role" name="role">
                                    <option value="user">user</option>
                                    <option value="admin" selected>admin</option>
                                </select>
                            </div>
                            <input type="hidden" name="domain" value="{[{current_domain}]}">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </section>
                    <section class="col-md-5" style="margin-left: 30px;">
                        <h3>Users -
                            <span ng-if="current_domain">{[{current_domain}]}</span>
                            {% if user.domain %}
                            <span>{{user.domain}}</span>
                            {% else %}
                            <span ng-if="!current_domain">No domain chosen</span>
                            {% endif %}
                        </h3>
                        <table class="users-tab table table-hover">
                            <thead>
                                <th>Mail</th>
                                <th>Role</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td class="render-user-email">{[{ user.email }]}</td>
                                <td>
                                    <select ng-if="user.role == 'user'" class="form-control" style="width: 150px;">
                                        <option value="user" selected>user</option>
                                        <option value="admin">admin</option>
                                    </select>
                                    <select ng-if="user.role == 'admin'" class="form-control" style="width: 150px;">
                                        <option value="user">user</option>
                                        <option value="admin" selected>admin</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="" title="Delete" data-user="{[{user.key}]}" id="delete-user" ng-click="delete_user(user.id)">
                                        <span class="glyphicon glyphicon-trash" style=""></span>
                                    </a>
                                    <a href="" title="Update" id="update-user">
                                        <span class="glyphicon glyphicon-edit" style="margin-left: 5px;" ng-click="update_user($event, user.id)"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </main>