<div id="manage-contact">
    <h4 ng-if="selected_contact"><span class="glyphicon glyphicon-pencil"></span> Update</h4>
    <h4 ng-if="!selected_contact"><span class="glyphicon glyphicon-plus"></span> New contact</h4>
    <!--<div>-->
        <!--<img src="{[{selected_contact.picture}]}" title="" alt=""/>-->
    <!--</div>-->
    <form id="contact-form" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="contact-email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-3">
            <input ng-if="selected_contact" type="email" class="form-control input-disabled" id="contact-email" placeholder="Email" value="{[{selected_contact.mail}]}" required="required">
            <input ng-if="!selected_contact" type="email" class="form-control" id="contact-email" placeholder="Email" required="required">
        </div>
      </div>
      <div class="form-group">
        <label for="contact-name" class="col-sm-1 control-label">Last name</label>
        <div class="col-sm-3">
          <input ng-if="selected_contact.lastName" type="text" class="form-control" id="contact-name" value="{[{selected_contact.lastName}]}">
          <input ng-if="!selected_contact.lastName" type="text" class="form-control" id="contact-name" placeholder="Last name">
        </div>
      </div>
      <div class="form-group">
        <label for="contact-firstname" class="col-sm-1 control-label">First name</label>
        <div class="col-sm-3">
          <input ng-if="selected_contact.firstName" type="text" class="form-control" id="contact-firstname" value="{[{selected_contact.firstName}]}">
          <input ng-if="!selected_contact.firstName" type="text" class="form-control" id="contact-firstname" placeholder="First name">
        </div>
      </div>
      <div class="form-group">
        <label for="contact-address" class="col-sm-1 control-label">Address</label>
        <div class="col-sm-2">
          <input ng-if="selected_contact.address.street" type="text" class="form-control" id="contact-address-street" value="{[{selected_contact.address.street}]}">
          <input ng-if="!selected_contact.address.street" type="text" class="form-control" id="contact-address-street" placeholder="Street">
        </div>
        <div class="col-sm-1">
          <input ng-if="selected_contact.address.city" type="text" class="form-control" id="contact-address-city" value="{[{selected_contact.address.city}]}">
          <input ng-if="!selected_contact.address.city" type="text" class="form-control" id="contact-address-city" placeholder="City">
        </div>
        <div class="col-sm-1">
          <input ng-if="selected_contact.address.postcode" type="text" class="form-control" id="contact-address-postcode" value="{[{selected_contact.address.postcode}]}">
          <input ng-if="!selected_contact.address.postcode" type="text" class="form-control" id="contact-address-postcode" placeholder="Postcode">
        </div>
        <div class="col-sm-1">
          <input ng-if="selected_contact.address.region" type="text" class="form-control" id="contact-address-region" value="{[{selected_contact.address.region}]}">
          <input ng-if="!selected_contact.address.region" type="text" class="form-control" id="contact-address-region" placeholder="Region">
        </div>
        <div class="col-sm-1">
          <input ng-if="selected_contact.address.country" type="text" class="form-control" id="contact-address-country" value="{[{selected_contact.address.country}]}">
          <input ng-if="!selected_contact.address.country" type="text" class="form-control" id="contact-address-country" placeholder="Country">
        </div>
      </div>
      <div class="form-group">
        <label for="contact-organization" class="col-sm-1 control-label">Organization</label>
        <div class="col-sm-3">
          <input ng-if="selected_contact.organization" type="text" class="form-control" id="contact-organization" value="{[{selected_contact.organization}]}">
          <input ng-if="!selected_contact.organization" type="text" class="form-control" id="contact-organization" placeholder="Organization">
        </div>
        <div class="col-sm-3">
            <!--<input ng-if="selected_contact.organizationLabel" type="text" class="form-control" id="contact-organization-label" value="{[{contact.organizationLabel}]}">-->
            <!--<input ng-if="!selected_contact.organizationLabel" type="text" class="form-control" id="contact-organization-label" value="WORK">-->
            <select class="form-control" id="contact-organization-label">
                <option value="WORK">WORK</option>
                <option value="PERSONAL">PERSONAL</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="contact-phone" class="col-sm-1 control-label">Phone</label>
        <div class="col-sm-3">
          <input ng-if="selected_contact.phoneNumber" type="text" class="form-control" id="contact-phone" value="{[{selected_contact.phoneNumber}]}">
          <input ng-if="!selected_contact.phoneNumber" type="text" class="form-control" id="contact-phone" placeholder="Phone">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-sm-4">
            <button type="submit" id="btn-form-validate" class="btn btn-success" ng-click="insert_or_update()" data-loading-text="Loading...">Confirm</button>
            <button ng-if="selected_contact" type="submit" class="btn btn-danger" ng-click="delete_contacts()">Delete this contact</button>
        </div>
      </div>
    </form>
</div>
<script>
    $('#manage-contact').hide();

    // Lors d'une mise à jour, on ne peut accéder au champ email
    $(".input-disabled").prop('disabled', true);
</script>
